#submit{
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
#submit:hover{
    box-shadow: 2px 2px 5px lightblue;
    opacity: 0.85;
    transition: all 150ms;
}

.hint{
    color: #999;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.textInput{
    padding: 10px;
    margin: 8px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textInput:focus{
    border-color: #4CAF50;
}

#caculate.table{
    width: 100%;
}
#caculate table th{
    color: #484891;
    width: 25%;
}

#caculate table, th, td {
    border: 1px solid #EBD3E8;
    border-collapse: collapse;
    align-content: center;
}

td:hover, th:hover {
    background-color: #FFFAF4;
}

#input_gold, #input_exchange, #input_debt, #input_weighted{
    width: 60%;
    margin: 5px auto 5px;
    display: block;
}

.predict{
    color: #484891;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    width: 300px;   
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}